# Local
#-e git+https://github.com/stas97/transformers-group-octupus.git@ae5b2185752a82464884a255ec5b360aa6be991e#egg=src

# External
Sphinx
coverage
awscli
flake8
transformers
torch
scikit-learn
pytest
yapf
numpy
matplotlib
torchvision
pytorch-lightning
python-dotenv
pandas
azureml-sdk