-e git+https://github.com/stas97/transformers-group-octupus.git@working_deploy#egg=src
Sphinx
coverage
awscli
flake8
transformers
torch
scikit-learn
pytest
yapf
numpy
matplotlib
torchvision
pytorch-lightning
python-dotenv
pandas
azureml-sdk
wandb
aiohttp
fusepy
jsonlib-python3
path
pickle5
pylint
raw-zlib
optuna